<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.post.dao.ICarsDAO">
    <resultMap id="carResultMap" type="Car">
        <id property="id" column="id" javaType="long"/>
        <result property="model" column="model"/>
        <result property="year" column="year" javaType="int"/>
        <result property="capasity" column="capasity" javaType="int"/>
    </resultMap>

    <select id="getEntity" resultMap="carResultMap">
        SELECT * FROM cars WHERE id = #{id}
    </select>
</mapper>