<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.post.dao.ICountrysDAO">
    <resultMap id="countryResultMap" type="Country">
        <id property="id" column="id" javaType="long"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getEntity" resultMap="countryResultMap">
        SELECT * FROM countrys WHERE id = #{id}
    </select>
</mapper>